/* FONT */

$primary: #000000;
$secondary: #FFFFFF;

/* GRAPHICS */

$medium_electric_blue: #04518C;
$medium_electric_blue_transparent: rgba( 4, 81, 140, .8 );

$white_smoke: #F6F6F6;
$shadow: #8D7960;
$silver: #C0C0C0;
$red_brown: #AB2D23;

$spanish_gray: #999999;
$spanish_gray_transparent: rgba( 153, 153, 153, .3 );

/* GENERAL */

$white: #FFFFFF;
$white_transparent: rgba( 255, 255, 255, .6 );

$black: #000000;
$black_transparent: rgba( 0, 0, 0, .1 );
$black_transparent_2: rgba( 0, 0, 0, .2 );
